body
  font-size 16px
  color #58595B !important

header
  z-index 20
  position relative
  background-color rgba(3,3,33,0.2)
  top 209px

.navigation
  height 40px

.logo
  width 100%
  height auto
  width 50%
  height auto
  margin 0 auto
  display block

.text_center
  text-align center
  display block

.cleanmp
  margin 0
  padding 0

.introtext h3, .introtext h2
  font-family 'FiraSans'
  color #00AEEF
  text-transform uppercase
  font-size 1.2em

.introtext
  position relative
  margin-top 100px

nav
  ul
    &.transmarina-nav
      list-style none
      padding-top 10px
      content " "
      display table
      padding-left 0
      margin 0 auto
      li
        float left
        padding 0 18px
        border-left 1px solid #191F33
        &:first-child
          border-left 0px
        a
          color #C0C3CE
          text-decoration none
          text-transform uppercase
          font-family 'FiraSans-light'
          font-size 0.95em
          &:hover
            color #00A0D2

#hero
  height 290px
  width 100%
  position relative
  z-index 1
  margin-top -80px
  padding-top 90px
  &.hero_welcome
    background url('../img/hero1_transmarina.jpg')
    background-position center top
    background-size 100% 100%

.text_hero
  color #fff
  color #fff

h2
  font-family 'FiraSans-light'
  font-size 1.6em

h3
  font-family 'FiraSans-hair'
  font-size 1.2em
  font-size 1em

h4
  font-family 'FiraSans-ExtraBold'

h1
  font-family 'FiraSans-hair'
  font-size 2.8em !important
  &.title
    text-align center

strong
  font-family 'FiraSans-ExtraBold'

section
  margin 100px auto !important

.products_select
  text-transform uppercase
  .pone
    text-align right
    border-right 1px solid #BEBEBF
  div
    padding 10px 100px
    p
      font-family 'FiraSans'
      color #727272
    strong
      color #58595B
      font-size 1.4em
      line-height 0em

.button
  padding-top 0.7em !important
  padding-bottom 0.7em !important
  font-family 'FiraSans-light'
  &.blue
    background-color #23509F
    &:hover
      background-color #25235A

#news
  h4
    color #23509F
  .news_text
    font-size 0.8em
  .a_news
    display block
    &:hover
      opacity 0.7

.contenido
  background url('../img/background_content.jpg')
  background-size 100% auto
  background-position left bottom
  background-repeat no-repeat
  padding-bottom 30px

#footer
  background-color #25235A
  padding 20px 0
  color #fff
  font-size 0.9em
  .credits
    font-size 0.8em
    color #fff
    padding-top 12px
    text-align center
  ul
    margin 0
    padding 0
    list-style none
    padding-top 10px
    li
      padding-left 20px
      a
        color #fff
        text-decoration none
        &:hover
          color #03172D
  a
    color #fff
    text-decoration none

@media only screen and (max-width: 40.063em)
  h2
  font-size 1.3em

  h3
    font-size 1em

  .text_hero
    color #fff
    padding 10% 20px

  .logo
    width 50%
    height auto
    margin 0 auto
    display block

  header
    background-color rgba(255,255,255,1)

