.products_select
  text-transform uppercase
  .pone
    text-align right
    border-right 1px solid #BEBEBF
  div
    padding 10px 80px
    p
      font-family 'FiraSans'
      color #727272
    strong
      color #58595B
      font-size 2.4em
      line-height 1em
      

#news
  h4
    color #23509F
  .news_text
    font-size 1em
    letter-spacing 0.25px
  .a_news
    display block
    text-decoration none
    color #58595B
    &:hover
      opacity 0.7
      &:active
        color #58595B


.products
  background-color #fff
  a
    padding 40px 80px
    display block
    text-decoration none
    color #727272
    text-align center
    opacity 0.4
    border-left 1px solid light-gray
    border-bottom 1px solid light-gray
    &:hover
      opacity 1
    &.active
      opacity 1
      border-left 0
      border-bottom 0
  p
    font-family 'FiraSans'
    color #727272
  strong
    color primary-color
    font-size 1.4em
    line-height 0em
.contenido .tabs
    li
      width 12.5%
      &.menu-item
          position relative
          margin-bottom 0 !important
          list-style none
          float left
          a
            padding 1em
            text-align center
            background-color #fff
            color #727272
            display block
            &:hover
              color #000
              background-color #e1e1e1
            &.active
              color #000

.products-list, .white-fish
  .columns
    padding-right 1em !important
    &:last-child
      padding-right 0
  & a
    display block
    color primary-color
    text-decoration none
    &:hover
      background-color primary-color
      display block
      color #fff
      img
        opacity 0.7
    & .item-title
      margin 10px 0
      padding 5px
      display block

.white-fish
  margin-top 30px
  & a
    line-height 1em
    & .item-title
      margin-bottom 0
    & .item-cientific-title
      padding-left 5px
      margin-bottom 10px
      padding-bottom 20px
      display block
      color third-color

.about-us
  height 700px
  background-repeat no-repeat
  background-position left bottom
  
.contact-form 
  textarea
    margin-top 30px
    min-height 280px
    resize vertical
    padding 20px 22px
    border 1px solid #d5d5d5
    border-radius 2px
    line-height 1.6
    font-size 16px
  h4
    display inline-block
    padding-left 6px
  .data-contact
    padding-left 20px
  a
    color primary-color
    text-decoration none
    &:hover
      color secondary-color
  .submit
    display inline-block
  & input
    padding 25px 20px !important
    border-style none !important
    border-bottom 1px solid gris-color !important
    border-radius 0 !important
    box-shadow none !important
    .placeholder
      color gris-color
      font-weight 400
  & button[type=submit] .fail-message, & button[type=submit] .success-message
    position absolute
    left 50%
    width 240px
    margin-top 20px
    margin-left -120px
    opacity 0
    transition opacity .1s ease,margin .3s ease
  button[type=submit] img
    position absolute
    left 50%
    margin-top 2px
    margin-left -32px
    opacity 0
    filter "alpha(opacity=0)"
    -webkit-transition opacity .1s
    transition opacity .1s
  button[type=submit]:disabled
    background-color light-gray
  .submit-button
    width 100%
      
    