@media (max-width: 991px)
	.stages
		left -300px
		width 1650px !important
		height 650px !important
	.banner
		width 1650px !important
		height 100% !important	
@media (min-width: 1500px)
	.banner
			background-size 100% !important